@font-face {
    font-family: 'freundschafts';
    font-style: normal; 
    src: url(./fonts/freundschafts-antiqua.woff);
}

@font-face {
    font-family: 'freundschafts';
    font-style: italic; 
    src: url(./fonts/freundschafts-antiqua-kursiv.woff);
}

@font-face {
    font-family: 'faune';
    font-style: normal; 
    font-weight: bold; 
    src: url(./fonts/Faune-Text_Bold.woff);
}


/* Default styling ------------------------------------------ */ 
article, 
p, 
h1, 
h2, 
h3, 
h4, 
ul, 
li, 
span, 
cite {
    font-family: 'Playfair', 'Georgia', 'Times New Roman', serif; 
    font-optical-sizing: auto; 
    font-size: 18px; 
    font-weight: normal; 
    line-height: 1.3; 
    font-variant-numeric: oldstyle-nums; 
    margin: 0; 
    padding: 0; 
    font-variation-settings: 'wdth' 100;
    /* text-shadow: black -0.1px -0.1px 0; */ 
}

/* Abbreviations: style caps */ 
abbr {
    letter-spacing: 0.5px; 
    /* font-size: 15px; */ 
    /* text-shadow: black -0.15px -0.15px 0; */ 
}

/* Remove list bullets */ 
ul li {
    list-style-type: none; 
}

/* Links */ 
a {
    text-decoration: underline; 
    text-decoration-thickness: 1px; 
    text-underline-offset: 1.5px; 
    color: black; 
}

a:hover {
    color: #d00; 
}

/* Chinese */ 
span[lang="zh"] {
    font-family: serif; 
}

/* Containers ---------------------------------------------- */ 
/* Outer container */ 
article {
    padding: 2px; /* Apply padding */ 
    max-width: 800px; /* Set width */ 
    margin: 0 auto; /* Center */ 
    /* border: 5px solid #d00; /* Apply border */ 
}

/* Inner containers */ 
article div {
    border: 1px solid #d00; /* Apply thin border */ 
    padding: 10px; /* Set default padding */ 
}

/* Name container */ 
article div#name {
    /* Adjust padding */ 
    padding-top: 5px; 
    padding-bottom: 8px; 
}

/* Bio container */ 
article div#introduction { 
    border-top: 0px; /* Remove repeated border */ 
}

/* CV container */ 
article div#cv {
    border-top: 0px; /* Remove repeated border */ 
    padding-top: 10px; /* Adjust padding */ 
}

/* Large screens */ 
@media (min-width: 800px) {
    /* Increase top and bottom margin */ 
    article {
        margin: 50px auto; 
    }

    /* Increase internal padding */ 
    article div { 
        padding: 20px; 
    }
}

/* Headings ---------------------------------------------- */ 
/* Headings */ 
article h1, 
article h2 {
    font-family: 'faune', sans-serif; 
    font-size: 16px; 
    text-shadow: none; 
    font-weight: bold; 
    font-style: normal; 
}

/* Space before headings */ 
article h2 {
    margin-top: 8px; 
}

h3 {
    font-size: 22px; 
}

h3, h2 + p, h2 + ul {
    margin-top: 8px; 
    
}

/* Text -------------------------------------------------- */ 
/* Publications: hanging indent */ 
#publications ul li,
#presentations ul li, 
#teaching ul li {
    padding-left: 1.5em; 
    text-indent: -1.5em; 
}

/* Non-headings: indent */ 
#education p, 
#research-experience p, 
#awards p, 
#service p {
    /* padding-left: 1.5em; */ 
}

/* Add space between inline sections (before dates) */ 
p span + span {
    margin-left: 10px; 
}
